@{
    ViewBag.Title = "Submit Your Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- You need this to bind with model class ahaka -->
@model DASH_BOOKING.Models.EventSubmissionModel


<section class="contact-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="section-heading mb-5">Submit Your Event</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        @using (Html.BeginForm("SubmitEvent", "Contact", FormMethod.Post, new { @id = "eventForm", @class = "needs-validation", novalidate = "novalidate" }))
                        {
                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EventName, new { @class = "form-control", placeholder = "Event Name", required = "required" })
                                @Html.LabelFor(model => model.EventName, "Event Name *", new { @class = "form-label" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.TextAreaFor(model => model.EventDescription, new { @class = "form-control", placeholder = "Event Description", required = "required", rows = "3" })
                                @Html.LabelFor(model => model.EventDescription, "Event Description *", new { @class = "form-label" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.OrganizerName, new { @class = "form-control", placeholder = "Your Name", required = "required" })
                                @Html.LabelFor(model => model.OrganizerName, "Your Name *", new { @class = "form-label" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.OrganizerEmail, new { @class = "form-control", placeholder = "Your Email Address", required = "required", type = "email" })
                                @Html.LabelFor(model => model.OrganizerEmail, "Your Email Address *", new { @class = "form-label" })
                            </div>
                            <div class="input-group mb-3">
                                @Html.DropDownListFor(model => model.EventCategory, new SelectList(
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "RUNNING", Value = "RUNNING" },
                                        new SelectListItem { Text = "BIKING", Value = "BIKING" },
                                        new SelectListItem { Text = "SWIMMING", Value = "SWIMMING" },
                                        new SelectListItem { Text = "ULTRAMARATHON", Value = "ULTRAMARATHON" }
                                    }, "Value", "Text"), "Select Event Category", new { @class = "form-select", required = "required" })
                                <label class="input-group-text" for="eventCategories"><i class="fa fa-caret-down"></i></label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-xl text-uppercase">Submit Event</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
